
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

#page-header{
  text-align: center;
}

#page-header h1{
  margin-top: 40px;
  font-weight: 800;
  font-size: 40px;
}

nav{
  margin-top: 50px;
  text-align: center;
}

#nav-list{
  padding: 0;
  margin: auto;
  list-style: none;
  display: inline-block;
}

#nav-list li{
  font-size: 24px;
  display: block;
  padding: 13px;
  padding-left: 55px;
  padding-right: 55px;
  margin: 30px;
  background-color: aquamarine;
  border-radius: 10px;
  color: rgb(88, 88, 88);
}

/* ----------- SecondMenu ----------- */

#secondMenuHeader{
  text-align: center;
  border-bottom: 0.5px solid lightgray;
}

#secondMenuHeader h1{
  margin: 20px 0px;
  font-weight: 800;
  font-size: 40px;
}

#secondMenuSection{
  margin-bottom: 30px;
}

.secondMenuWrapper{
  display: flex;
  align-items: center;
  align-content: center;
  border-bottom: 0.5px solid lightgray;
}

.secondMenuWrapper img{
  width: 125px;
  height: 75px;
  border-right: 0.5px solid lightgray;
}

.secondMenuWrapper h5{
  margin: 0 20px;
  padding: 5px;
  width: 275px;
  text-align: center;
}

/* ----------- Recepie ----------- */

#rec-header{
  text-align: center;
}

#rec-header h1{
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 800;
}

img{
  width: 100%;
  height: 220px;
}

#prepareInfo {
  display: flex;
  justify-content: space-between;
}

#cookTime h2 {
  padding-top: 3px;
}

hr {
  margin-top: 4px;
  margin-bottom: 3px;
}

.container{
  width: 85%;
  margin: auto;
}

#cookTime {
  display: flex;
}

#portions {
  display: flex;
}

#ingredients {
  margin-top: 10px;
  padding-left: 55px;
}

.listHeader {
  list-style-type: none;
  font-weight: bold;
  margin-top: 3px;
}

.container h4{
  margin-top: 8px;
}

.container ol {
  padding-left: 18px;
  padding-top: 3px;
}

.button {
  display: inline-block;
  color: rgb(88, 88, 88);
  font-size: 22px;
  padding: 7px 27px;
  background-color: aquamarine;
  border-radius: 10px;
  text-decoration: none;
}
.thumbs {
  padding: 7px 9px;
  margin-left: 4px;
  margin-right: 4px;
}
.arrow{
  padding: 7px 14px;
  font-size: 24px;
}

#main-footer{
  margin: 5px 0px;
  display: flex;
  justify-content: space-around;
}

#video-background{
  position: fixed;
  top: -300px;
  left: -350px;
  z-index: -1;
}